.note {
  height: 150px;
  width: 150px;
  background-color: rgb(39, 39, 40);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;
}
.note > h3,
.note > p {
  display: flex;
  justify-content: center;
  width: 100%;
}
.note > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
